<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			Welcome to the Tennis Tracking App
		</div>
		<div class="row">Log in to create and view matches and players</div>
</section>
