<section data-ng-controller="MatchesController" data-ng-init="findPlayers()">
    <div class="page-header">
        <h1>New Match</h1>
    </div>
    <div class="col-md-12">
      <div class="form-group" ng-show="!matchStarted">
        <form  data-ng-submit="startMatch()">
        <label for="select-p1">Player 1 (Server):</label>
        <select class="form-control" ng-model="player1Index" ng-options="idx1 as player.name for (idx1, player) in players" id="select-p1"></select>
        <label for="select-p2">Player 2:</label>
        <select class="form-control" ng-model="player2Index" ng-options="idx2 as player.name for (idx2, player) in players" id="select-p2"></select> <input type="submit" class="btn btn-primary">
        </form>
        </div>
        <div ng-show="matchStarted && !finishedMatch">
          <h1>Match Input Mode</h1>
          <table class="table table-bordered table-striped" id="match-create-score-table">
          <tr>
            <th>Serving</th>
            <th>Player</th>
            <th>Set 1</th>
            <th>Set 2</th>
            <th>Set 3</th>
            <th>Game Score</th>
          </tr>
          <tr>
            <td>{{player1Serving | serving}}</td>
            <td>{{player1.name}}</td>
            <td>{{player1.set1}}</td>
            <td>{{player1.set2}}</td>
            <td>{{player1.set3}}</td>
            <td>{{player1.gameScore | gameScoreFilter:this}}</td>
          </tr>
          <tr>
            <td>{{ !player1Serving | serving}}</td>
            <td>{{player2.name}}</td>
            <td>{{player2.set1}}</td>
            <td>{{player2.set2}}</td>
            <td>{{player2.set3}}</td>
            <td>{{player2.gameScore | gameScoreFilter:this}}</td>
          </tr>
          </table>
          <table class="table table-bordered" id="match-create-serve-table" ng-hide="finishedServe">
          <caption>Service Outcome</caption>
          <tbody>
          <tr>
          <td><button class="btn btn-primary btn-md" id="first-serve-in" ng-click="firstServeIn()">First Serve In</button></td>
          <td><button class="btn btn-primary btn-md" id="second-serve-in" ng-click="secondServeIn()">Second Serve In</button></td>
          <td><button class="btn btn-success btn-md" id="ace" ng-click="ace()">Ace</button></td>
          <td><button class="btn btn-danger btn-md" id="double-fault" ng-click="doubleFault()">Double Fault</button></td>
          </tr>
          </tbody>
          </table>
          <table class="table table-bordered table-striped" id="match-create-input-table" ng-show="finishedServe">
            <tr>
              <th>{{ player1.name || "Player 1" }}</th>
              <th>{{ player2.name || "Player 2" }}</th>
            </tr>
            <tr>
              <td><button class="btn btn-warning btn-md" id="forehand-forced-error-1" ng-click="forehandForcedError1()">Forehand Forced Error</button></td>
              <td><button class="btn btn-warning btn-md" id="forehand-forced-error-2" ng-click="forehandForcedError2()">Forehand Forced Error</button></td>
            </tr>
            <tr>
              <td><button class="btn btn-danger btn-md" id="forehand-unforced-error-1" ng-click="forehandUnforcedError1()">Forehand Unforced Error</button></td>
              <td><button class="btn btn-danger btn-md" id="forehand-unforced-error-2" ng-click="forehandUnforcedError2()">Forehand Unforced Error</button></td>
            </tr>
            <tr>
              <td><button class="btn btn-success btn-md" id="forehand-winner-1" ng-click="forehandWinner1()">Forehand Winner</button></td>
              <td><button class="btn btn-success btn-md" id="forehand-winner-2" ng-click="forehandWinner2()">Forehand Winner</button></td>
            </tr>
            <tr>
              <td><button class="btn btn-warning btn-md" id="backhand-forced-error-1" ng-click="backhandForcedError1()">Backhand Forced Error</button></td>
              <td><button class="btn btn-warning btn-md" id="backhand-forced-error-2" ng-click="backhandForcedError2()">Backhand Forced Error</button></td>
            </tr>
            <tr>
              <td><button class="btn btn-danger btn-md" id="backhand-unforced-error-1" ng-click="backhandUnforcedError1()">Backhand Unforced Error</button></td>
              <td><button class="btn btn-danger btn-md" id="backhand-unforced-error-2" ng-click="backhandUnforcedError2()">Backhand Unforced Error</button></td>
            </tr>
            <tr>
              <td><button class="btn btn-success btn-md" id="backhand-winner-1" ng-click="backhandWinner1()">Backhand Winner</button></td>
              <td><button class="btn btn-success btn-md" id="backahnd-winner-2" ng-click="backhandWinner2()">Backhand Winner</button></td>
            </tr>
            <tr>
              <td><button class="btn btn-success btn-md" id="net-1" ng-click="net1()">Won at Net</button></td>
              <td><button class="btn btn-success btn-md" id="net-2" ng-click="net2()">Won at Net</button></td>
            </tr>
          </table>
        </div>
        <form class="form-horizontal" data-ng-submit="create()" novalidate ng-show="finishedMatch">
            <fieldset>
                <!--<div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>-->
                <div class="form-group">
                    <label for="save-match">Match Finished!</label>
                    <input id="save-match" type="submit" class="btn btn-success">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>