<section data-ng-controller="MatchesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Matches</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="match in matches" data-ng-href="#!/matches/{{match._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Date:
				<span data-ng-bind="match.created | date:'medium'"></span>
			</small>
            <h4>
            <span class="list-group-item-heading" data-ng-bind="match.player1Name"></span>
            vs
            <span class="list-group-item-heading" data-ng-bind="match.player2Name"></span>
            <span class="list-group-item-info">{{match.player1Set1}}-{{match.player2Set1}} {{match.player1Set2}}-{{match.player2Set2}} {{match.player1Set3 | CheckThirdSetFilter:this }}<span ng-show="match.player1Set3!=0 || match.player2Set3!=0">-</span>{{ match.player2Set3 | CheckThirdSetFilter:this }}
            </span>
            </h4>


        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!matches.$resolved || matches.length">
    	No Matches yet, why don't you <a href="/#!/matches/create">create one</a>?
    </div>
</section>