<section data-ng-controller="MatchesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{match.created | date: 'medium' }}</h1>
		<h3> {{match.player1Name}} vs {{match.player2Name}} </h3>
	</div>
	<div>
		   <table class="table table-striped" id="match-stats-table">
        <thead>
          <tr>
            <th>Player</th>
            <th>Set 1</th>
            <th>Set 2</th>
            <th>Set 3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{match.player1Name}}</td>
            <td>{{match.player1Set1}}</td>
            <td>{{match.player1Set2}}</td>
            <td>{{match.player1Set3}}</td>
          </tr>
          <tr>
            <td>{{match.player2Name}}</td>
            <td>{{match.player2Set1}}</td>
            <td>{{match.player2Set2}}</td>
            <td>{{match.player2Set3}}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped" id="player1-stats-table">
			<thead>
			<tr>
			<th>Stat</th>
			<th>{{match.player1Name}}</th>
			<th>{{match.player2Name}}</th>
		  </tr>
		  </thead>
		  <tbody>
		    <tr>
		    <th>Won</th>
		    <td>{{match.player1 | WonGameFilter: this: true }}</td>
		    <td>{{match.player2 | WonGameFilter: this: true }}</td>
		    </tr>
		    <tr>
		    <th>Lost</th>
		    <td>{{match.player1 | WonGameFilter: this: false }}</td>
		    <td>{{match.player2 | WonGameFilter: this: false }}</td>
		    </tr>
		    <tr>
		    <th>1st Serves In</th>
		    <td>{{match.player1FirstServesIn}}</td>
		    <td>{{match.player2FirstServesIn}}</td>
		    </tr>
		    <tr>
		    <th>First Serve Percentage</th>
		    <td>{{ (match.player1FirstServesIn*100.0/match.player1ServeAttempts) | number:0}}%</td>
		    <td>{{ (match.player2FirstServesIn*100.0/match.player2ServeAttempts) | number:0}}%</td>
		    </tr>
		    <tr>
		    <th>2nd Serves In</th>
		    <td>{{match.player1SecondServesIn}}</td>
		    <td>{{match.player2SecondServesIn}}</td>
		    </tr>
		    <tr>
		    <th>Aces</th>
		    <td>{{match.player1Aces}}</td>
		    <td>{{match.player2Aces}}</td>
		    </tr>
		    <tr>
		    <th>Double Faults</th>
		    <td>{{match.player1DoubleFaults}}</td>
		    <td>{{match.player2DoubleFaults}}</td>
		    </tr>
		    <tr>
		    <th>Forehand Winners</th>
		    <td>{{match.player1ForehandWinners}}</td>
		    <td>{{match.player2ForehandWinners}}</td>
		    </tr>
		    <tr>
		    <th>Backhand Winners</th>
		    <td>{{match.player1BackhandWinners}}</td>
		    <td>{{match.player2BackhandWinners}}</td>
		    </tr>
		    <tr>
		    <th>Points Won at Net</th>
		    <td>{{match.player1PointsWonAtNet}}</td>
		    <td>{{match.player2PointsWonAtNet}}</td>
		    </tr>
		    <tr>
		    <th>Forehand Unforced Errors</th>
		    <td>{{match.player1forehandUnforcedErrors}}</td>
		    <td>{{match.player2forehandUnforcedErrors}}</td>
		    </tr>
		    <tr>
		    <th>Backhand Unforced Errors</th>
		    <td>{{match.player1BackhandUnforcedErrors}}</td>
		    <td>{{match.player2BackhandUnforcedErrors}}</td>
		    </tr>
		    <tr>
		    <th>Forehand Forced Errors</th>
		    <td>{{match.player1forehandForcedErrors}}</td>
		    <td>{{match.player2forehandForcedErrors}}</td>
		    </tr>
		    <tr>
		    <th>Backhand Forced Errors</th>
		    <td>{{match.player1BackhandForcedErrors}}</td>
		    <td>{{match.player2BackhandForcedErrors}}</td>
		    </tr>
		  </tbody>
	  </table>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == match.user._id))">
		<a class="btn btn-primary" href="/#!/matches/{{match._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
		<!-- footer-->
		</em>
	</small>
</section>
