<section data-ng-controller="PlayersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Players</h1>
    </div>
    <div class="form-group">
        <label for="search-input">Search:</label><input id="search-input" class="form-control" ng-model="query">
        <label for="select-sort">Sort by:</label>
        <select id="select-sort" class="form-control" ng-model="orderProp">
          <option value="name">Name</option>
          <option value="-wins">Wins</option>
          <option value="-losses">Losses</option>
          <option value="-aces">Aces</option>
        </select>
    </div>
    <div class="list-group">
        <a data-ng-repeat="player in players | filter:query | orderBy:orderProp : reverse" data-ng-href="#!/players/{{player._id}}" class="list-group-item">
			<h4 class="list-group-item-header"> {{player.name}} <span class="list-group-item-success">W: {{player.wins}}</span> <span class="list-group-item-danger">L: {{player.losses}}</span> <span class="list-group-item-info">Winners: {{(player.forehandWinners + player.backhandWinners)}}</span> <span class="list-group-item-warning">Aces: {{player.aces}}</span> <span class="list-group-item-info" ng-show="player.serveAttempts !=0">1st Serve %: {{(player.firstServesIn*100.0/player.serveAttempts | number:0)}}%</span></h4>


        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!players.$resolved || players.length">
    	No Players yet, why don't you <a href="/#!/players/create">create one</a>?
    </div>
</section>