<section data-ng-controller="PlayersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="player.name"></h1>
		<table class="table table-striped" id="player-stats-table">
			<thead>

		  </tr>
		  </thead>
		  <tbody>
		    <tr><th>Wins</th><td>{{player.wins}}</td></tr>
		    <tr><th>Losses</th><td>{{player.losses}}</td></tr>
		    <tr><th>Serve Attempts</th><td>{{player.serveAttempts}}</td></tr>
		    <tr><th>1st Serves In</th><td>{{player.firstServesIn}}</td></tr>
		    <tr><th>1st Serve Percentage</th><td>{{(player.firstServesIn*100.0/player.serveAttempts) | number:0}}%</td></tr>
		    <tr><th>2nd Serves In</th><td>{{player.secondServesIn}}</td></tr>
		    <tr><th>Aces</th><td>{{player.aces}}</td></tr>
		    <tr><th>Double Faults</th><td>{{player.doubleFaults}}</td></tr>
		    <tr><th>Forehand Winners</th><td>{{player.forehandWinners}}</td></tr>
		    <tr><th>Backhand Winners</th><td>{{player.backhandWinners}}</td></tr>
		    <tr><th>Points Won at Net</th><td>{{player.pointsWonAtNet}}</td></tr>
		    <tr><th>Forehand Unforced Errors</th><td>{{player.forehandUnforcedErrors}}</td></tr>
		    <tr><th>Backhand Unforced Errors</th><td>{{player.backhandUnforcedErrors}}</td></tr>
		    <tr><th>Forehand Forced Errors</th><td>{{player.forehandForcedErrors}}</td></tr>
		    <tr><th>Backhand Forced Errors</th><td>{{player.backhandForcedErrors}}</td></tr>
		  </tbody>
	  </table>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == player.user._id))">
		<a class="btn btn-primary" href="/#!/players/{{player._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Registered on
			<span data-ng-bind="player.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="player.user.displayName"></span>
		</em>
	</small>
</section>
